@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
    font-family: 'Itim', cursive;
    background-color: peachpuff;
}

h2{
    color:brown;
    text-decoration:underline;
}

button{
    background: brown;
    color:white;
    font-size: 120%;

}